<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/team.css">
    <link rel="icon" type="image/x-icon" href="/img/icono.ico">
</head>

<body>
    <div class="container col-12 mt-5">
        <div id="teamBuilder" class="container">
            <div class="container menu mb-5">
                <div class="rounded inline cuadrado">
                    <a href="/"><b>Buscar por nombre de Pokemon</b></a>
                </div>
                <div class="rounded inline ms-2 mt-2 cuadrado">
                    <a href="/tabletypes"><b>Tabla Tipos</b></a>
                </div>
            </div>
            <div class="container">
                <div class="rounded mb-2 cuadrado">
                    <b>Creador de equipos</b>
                </div>
                <div id="botonera">
                    <input class="btn btn-danger" type="button" onclick="borrarTodo()" value="Borrar todo" />
                    <input class="btn btn-success" type="button" onclick="random()" value="Randomizar vacios" />
                </div>
                <div>
                    <table id="teamtable" class="col-10">

                    </table>
                </div>
            </div>


        </div>
        <div id="creditos" class="rounded mt-5 cuadrado">
            <i>Página hecha por <a href="https://twitter.com/profetalimon" target="_blank">Diego Vidal del
                    Rosal</a></i>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c0c7c7cb12.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/js/team.js"></script>


</body>

</html>