body {
    background-image: url('/img/pattern.jpg');
}

.container {
    text-align: center;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
    margin: auto;
}

img {
    width: 15%;
}

.modal-header,
.modal-content,
.modal-body,
.modal-footer {
    border: 0px;
    background-color: transparent;
}

table {
    background-color: #dddbc2;
    margin: auto;
}

.cuadrado {
    background-color: rgb(237, 222, 95);
    max-width: fit-content;
    margin: auto;
    padding: 0.5rem !important;
}