.pokemonIcon {
    width: 35%;
}

#grafico {
    width: 100%;
}

.evolucion {
    color: blue;
}

#creditos {
    font-size: small;
}

.evolucion:hover {
    cursor: pointer;
}

#resultado {
    margin: auto;
    max-width: 600px;
    --bs-border-radius: 75px;
    --bs-border-width: 1px;
    border-collapse: separate;
    border-spacing: inherit;
}

#resultado td {
    width: 50%;
}