body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/807/743/680/pokemon-tile-cartoon-pattern-hd-wallpaper-preview.jpg);
}

#pokemonIcon {
    width: 35%;
}

#grafico {
    width: 100%;
}

img {
    width: 15%;
}

table {
    margin: auto;
    max-width: 600px;
    --bs-border-radius: 75px;
    --bs-border-width: 1px;
    border-collapse: separate;
    border-spacing: inherit;
}


td {
    background-color: #dddbc2;
    width: 50%;
}

.container {
    text-align: center;
}