#teamtable td {
    height: 190px;
    min-width: 130px;
    background-color: #dddbc2;
    display: table-cell;
    vertical-align: initial;
}

img {
    max-width: 70px;
    width: auto;
}

#debilidadesTexto {
    background-color: #dddbc2;
}

#graficaDiv {
    background-color: #dddbc2;
}

.grafica {
    width: auto !important;
    max-width: -webkit-fill-available;
}

.menu {
    min-width: max-content;
}

@media only screen and (max-width: 736px) {
    .inline {
        display: -webkit-inline-box;
    }

    #teamtable td {
        display: inherit;
        vertical-align: initial;
    }

    #teamtable tr {
        text-align: -webkit-center;
    }

    #teamtable {
        width: auto !important;
    }
}

#teamtable {
    border-spacing: 20px;
    border-collapse: separate;
    background-color: transparent;
    width: min-content;
}

.pokemonIcon {
    min-width: fit-content;
    cursor: pointer;
}